.contest
	.container
		.row
			.col-xs-12
				h2.contest__title
					| Наши конкурсы
				.contest__items
					a.contest__item(href="#")
						.contest__item-pr
							img(src="images/contest-pr.jpg", alt="")
						.contest__item-title
							| Lorem Ipsum
						.contest__item-desc
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
					a.contest__item(href="#")
						.contest__item-pr
							img(src="images/contest-pr.jpg", alt="")
						.contest__item-title
							| Lorem Ipsum
						.contest__item-desc
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
					a.contest__item(href="#")
						.contest__item-pr
							img(src="images/contest-pr.jpg", alt="")
						.contest__item-title
							| Lorem Ipsum
						.contest__item-desc
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
					a.contest__item(href="#")
						.contest__item-pr
							img(src="images/contest-pr.jpg", alt="")
						.contest__item-title
							| Lorem Ipsum
						.contest__item-desc
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
					a.contest__item(href="#")
						.contest__item-pr
							img(src="images/contest-pr.jpg", alt="")
						.contest__item-title
							| Lorem Ipsum
						.contest__item-desc
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been