.news.news_double
	include header.jade
	.clearfix
		.container
			.row
				.col-xs-12.col-sm-8.col-sm-offset-4.col-lg-6.col-lg-offset-6
					h2.news__title.news__title_double
						| Новости
					.news__items
						.news__item.clearfix
							.news__item-pr
								img(src="images/news-pr.jpg", alt="")
							.news__item-text
								.news__item-title
									| Lorem Ipsum
								.news__item-desc
									| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
								a.news__item-more(href="#")
									| Подробнее
						.news__item.clearfix
							.news__item-pr
								img(src="images/news-pr.jpg", alt="")
							.news__item-text
								.news__item-title
									| Lorem Ipsum
								.news__item-desc
									| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
								a.news__item-more(href="#")
									| Подробнее
						.news__item.clearfix
							.news__item-pr
								img(src="images/news-pr.jpg", alt="")
							.news__item-text
								.news__item-title
									| Lorem Ipsum
								.news__item-desc
									| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
								a.news__item-more(href="#")
									| Подробнее


