footer.foo
	.container
		.row
			.col-xs-12
				.foo__container
					.foo__row
						.foo__cell.foo__left
							.foo__subcontainer_left
								.foo__subrow_left
									.foo__cell_left
										img.foo__logo(src="images/logo-foo.png", alt="")
									.foo__cell_left
										.foo__copy
											| Copyright © 2011-2017
						.foo__cell.foo__right
							.foo__subcontainer_right
								.foo__subrow_right
									.foo__cell_right
										.foo__contacts.contacts
											.contacts__phone
												| +7(495)-120-08-82
											.contacts__phone
												| +7(495)-120-08-86
									.foo__cell_right
										.foo__social.social
											a.social__link.i-social-gray-fb(href="#")
											a.social__link.i-social-gray-tw(href="#")
											a.social__link.i-social-gray-is(href="#")
