header.header
	.container
		.row
			.col-xs-12
				.header__container
					.header__left
						img.img-responsive(src="images/header-logo.png", alt="", width="720", height="152")
					.header__right
						.header__social.social
							a.social__link.i-social-gold-fb(href="#")
							a.social__link.i-social-gold-tw(href="#")
							a.social__link.i-social-gold-is(href="#")
						.header__contacts.contacts
							.contacts__phone
								| +7(495)-120-08-82
							.contacts__phone
								| +7(495)-120-08-86
