.main
	include header.jade

	.clearfix
		.container
			.row
				.col-xs-12
					.main__container
							.main__slider
								div
									h2.main__title
										| Золотые таланты
										.main__title_big
											| России
									.main__p
										| 11 декабря 2016 года во Дворце Культуры "Подмосковье" состоялся IV международный конкурс "Золотые таланты России".
								div
									h2.main__title
										| Золотые таланты
										.main__title_big
											| России
									.main__p
										| 11 декабря 2016 года во Дворце Культуры "Подмосковье" состоялся IV международный конкурс "Золотые таланты России".
							.main__view
								| Смотреть видео
								a.main__play.i-play(href="#")