nav.nav
	.container
		.row
			.col-xs-12
				.nav__container
					div.nav__mobile
						.nav__icon
							span
							span
							span
						a.nav__btn.btn.btn_theme_gold.fancy(href="#call").hidden-md.hidden-lg
							.btn__text_theme_gold
								| Заказать звонок
					ul.nav__list
						li.nav__item
							a.nav__link(href="index.html")
								| Новости
						li.nav__item
							a.nav__link(href="contest.html")
								| Наши конкурсы
						li.nav__item
							a.nav__link(href="project.html")
								| Наши проекты
						li.nav__item
							a.nav__link(href="#")
								| Фото и видео
						li.nav__item
							a.nav__link(href="contacts.html")
								| Контакты
						li.nav__item
							a.nav__link(href="reviews.html")
								| Отзывы
					a.nav__btn.btn.btn_theme_gold.fancy(href="#call").hidden-xs.hidden-sm
						.btn__text_theme_gold
							| Заказать звонок