.project
	.container
		.row
			.col-xs-12
				.text__h2.project__title
					| Наши конкурсы
				.project__text
					p
						| Tворческий центр «Золотые таланты» начинает работу над новым музыкальным социально-просветительским проектом «с любовью к Подмосковью!». Основные задачи:
					ul
						li
							| поддержка организаций культуры и искусства Московской области в целях обеспечения равного доступа к культурным ценностям для всех социально незащищенных групп населения.
						li
							| приобщить детей к музыкальной культуре, подарить возможность жителям Красногорска приобщиться к лучшим образцам классической и современной музыки.
						li
							| расширение международного сотрудничества, вовлечение организаций культуры и искусства Красногорского района в международные проекты, продвижение имиджа Красногорска, как центра культуры и искусства Подмосковья.
					p
						| В наших планах организация благотворительного концерта в г. Красногорске обладателя уникального голоса, популярного итальянского тенора и композитора Луки Латтанцио, обладателя Гран-при международных музыкальных конкурсов и фестивалей с участием одаренных детей города Красногорска.
			.concert
				.clearfix.concert__item
					.col-xs-12.col-md-6
						.concert__prs
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
					.col-xs-12.col-md-6
						h2.concert__item-title
							| Концерт Луки Латтацио
						p.concert__item-p
							| 1 декабря в ДК "Подмосковье" состоялся концерт знаменитого итальянского исполнителя и автора песен Луки Латтанцио.
							br
							| Итальянский тенор исполнил наиболее известные в России итальянские песни, в том числе и на русском. "Памяти Карузо", "Funiculì Funiculà", "Felicita", "Sole mio", "Volare. Лука Латтанцио исполнял песни не только сольно, но и совместно с юными вокалистами и танцовщиками Красногорского района. Всего с итальянским тенором приняло участие в концерте более 100 детей.
							br
							| На концерте присутствовало 1000 человек.
							br
							| Концерт прошёл на благотворительной основе. Организатор конкурса Творческий центр «Золотые таланты». Все желающие смогли получить от организаторов бесплатные пригласительные билеты.
							br
							| На концерте присутствовали и брали слово Глава отдела образования генерального консульства Итальянской республики в России Джузеппе Ло Порто и Глава ассоциации итальянских предпринимателей в России Луиза Бароне.
				.clearfix.concert__item
					.col-xs-12.col-md-6
						.concert__prs
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
					.col-xs-12.col-md-6
						h2.concert__item-title
							| Концерт Луки Латтацио
						p.concert__item-p
							| 1 декабря в ДК "Подмосковье" состоялся концерт знаменитого итальянского исполнителя и автора песен Луки Латтанцио.
							br
							| Итальянский тенор исполнил наиболее известные в России итальянские песни, в том числе и на русском. "Памяти Карузо", "Funiculì Funiculà", "Felicita", "Sole mio", "Volare. Лука Латтанцио исполнял песни не только сольно, но и совместно с юными вокалистами и танцовщиками Красногорского района. Всего с итальянским тенором приняло участие в концерте более 100 детей.
							br
							| На концерте присутствовало 1000 человек.
							br
							| Концерт прошёл на благотворительной основе. Организатор конкурса Творческий центр «Золотые таланты». Все желающие смогли получить от организаторов бесплатные пригласительные билеты.
							br
							| На концерте присутствовали и брали слово Глава отдела образования генерального консульства Итальянской республики в России Джузеппе Ло Порто и Глава ассоциации итальянских предпринимателей в России Луиза Бароне.
				.clearfix.concert__item
					.col-xs-12.col-md-6
						.concert__prs
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
							.concert__pr
								img(src="images/concert-pr.jpg", alt="")
					.col-xs-12.col-md-6
						h2.concert__item-title
							| Концерт Луки Латтацио
						p.concert__item-p
							| 1 декабря в ДК "Подмосковье" состоялся концерт знаменитого итальянского исполнителя и автора песен Луки Латтанцио.
							br
							| Итальянский тенор исполнил наиболее известные в России итальянские песни, в том числе и на русском. "Памяти Карузо", "Funiculì Funiculà", "Felicita", "Sole mio", "Volare. Лука Латтанцио исполнял песни не только сольно, но и совместно с юными вокалистами и танцовщиками Красногорского района. Всего с итальянским тенором приняло участие в концерте более 100 детей.
							br
							| На концерте присутствовало 1000 человек.
							br
							| Концерт прошёл на благотворительной основе. Организатор конкурса Творческий центр «Золотые таланты». Все желающие смогли получить от организаторов бесплатные пригласительные билеты.
							br
							| На концерте присутствовали и брали слово Глава отдела образования генерального консульства Итальянской республики в России Джузеппе Ло Порто и Глава ассоциации итальянских предпринимателей в России Луиза Бароне.