.reviews
	.container
		.row
			.col-xs-12
				h2.text__h2.concert__title
					| Отзывы
				.reviews__items
					.reviews__item
						.reviews__item-pr
							img.img-responsive(src="images/concert-pr.jpg", alt="", ) 
						.reviews__item-text
							h2.reviews__item-title
								span.reviews__item-date
									| 2016-12-18 14:44
								|  Liliya Gareeva
							.reviews__item-desc
								| Спасибо Вам большое за это представление!! Спасибо Луке и Анастасии Росс за чудесное исполнение!! Спасибо всем деткам, которые приняли участие!! Спасибо людям, которые организовали и провели это чудесное мероприятие!! Так много замечательных, талантливых и интересных людей собрались в одном месте и на одной сцене! То что происходило 1 декабря 2016 - это было потрясающее: Лука - живой, душевный, выдержанный, при появлении детей на сцене, превращался в совершенного мальчишку.
					.reviews__item
						.reviews__item-pr
							img.img-responsive(src="images/concert-pr.jpg", alt="", ) 
						.reviews__item-text
							h2.reviews__item-title
								span.reviews__item-date
									| 2016-12-18 14:44
								|  Liliya Gareeva
							.reviews__item-desc
								| Спасибо Вам большое за это представление!! Спасибо Луке и Анастасии Росс за чудесное исполнение!! Спасибо всем деткам, которые приняли участие!! Спасибо людям, которые организовали и провели это чудесное мероприятие!! Так много замечательных, талантливых и интересных людей собрались в одном месте и на одной сцене! То что происходило 1 декабря 2016 - это было потрясающее: Лука - живой, душевный, выдержанный, при появлении детей на сцене, превращался в совершенного мальчишку.
					.reviews__item
						.reviews__item-pr
							img.img-responsive(src="images/concert-pr.jpg", alt="", ) 
						.reviews__item-text
							h2.reviews__item-title
								span.reviews__item-date
									| 2016-12-18 14:44
								|  Liliya Gareeva
							.reviews__item-desc
								| Спасибо Вам большое за это представление!! Спасибо Луке и Анастасии Росс за чудесное исполнение!! Спасибо всем деткам, которые приняли участие!! Спасибо людям, которые организовали и провели это чудесное мероприятие!! Так много замечательных, талантливых и интересных людей собрались в одном месте и на одной сцене! То что происходило 1 декабря 2016 - это было потрясающее: Лука - живой, душевный, выдержанный, при появлении детей на сцене, превращался в совершенного мальчишку.
					.reviews__item
						.reviews__item-pr
							img.img-responsive(src="images/concert-pr.jpg", alt="", ) 
						.reviews__item-text
							h2.reviews__item-title
								span.reviews__item-date
									| 2016-12-18 14:44
								|  Liliya Gareeva
							.reviews__item-desc
								| Спасибо Вам большое за это представление!! Спасибо Луке и Анастасии Росс за чудесное исполнение!! Спасибо всем деткам, которые приняли участие!! Спасибо людям, которые организовали и провели это чудесное мероприятие!! Так много замечательных, талантливых и интересных людей собрались в одном месте и на одной сцене! То что происходило 1 декабря 2016 - это было потрясающее: Лука - живой, душевный, выдержанный, при появлении детей на сцене, превращался в совершенного мальчишку.
					.reviews__item
						.reviews__item-text.reviews__item-text_pr_no
							h2.reviews__item-title
								span.reviews__item-date
									| 2016-12-18 14:44
								|  Liliya Gareeva
							.reviews__item-desc
								| Спасибо Вам большое за это представление!! Спасибо Луке и Анастасии Росс за чудесное исполнение!! Спасибо всем деткам, которые приняли участие!! Спасибо людям, которые организовали и провели это чудесное мероприятие!! Так много замечательных, талантливых и интересных людей собрались в одном месте и на одной сцене! То что происходило 1 декабря 2016 - это было потрясающее: Лука - живой, душевный, выдержанный, при появлении детей на сцене, превращался в совершенного мальчишку.
					.reviews__item
						.reviews__item-pr
							img.img-responsive(src="images/concert-pr.jpg", alt="", ) 
						.reviews__item-text
							h2.reviews__item-title
								span.reviews__item-date
									| 2016-12-18 14:44
								|  Liliya Gareeva
							.reviews__item-desc
								| Спасибо Вам большое за это представление!! Спасибо Луке и Анастасии Росс за чудесное исполнение!! Спасибо всем деткам, которые приняли участие!! Спасибо людям, которые организовали и провели это чудесное мероприятие!! Так много замечательных, талантливых и интересных людей собрались в одном месте и на одной сцене! То что происходило 1 декабря 2016 - это было потрясающее: Лука - живой, душевный, выдержанный, при появлении детей на сцене, превращался в совершенного мальчишку.
				.pagination-wrap
					ul.pagination
						li.pagination__item.active
							a.pagination__link(href="#1")
								| 1
						li.pagination__item
							a.pagination__link(href="#2")
								| 2
						li.pagination__item
							a.pagination__link(href="#3")
								| 3
				.add-reviews
					a.btn_theme_blue.fancy(href="#addreviews")
						| Добавить отзыв
