doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title
			| Золотые таланты | Конкурсы
		include jade/css.jade		
	body
		include jade/nav.jade		
		include jade/header.jade
		include jade/concert-in-concert.jade
		include jade/foo.jade

		include jade/hidden.jade		
		include jade/script.jade
